<div *ngIf="isHome()" id="nav-bar">
    <div id="nav-bar-content">

        <div id="nav-bar-left">
            <img width="70em" height="70em" src="/assets/img/logoPWM.png" alt="logo-img" id="logo-img">
            <div class="nav-bar-items" style="font-size: 1.5em;">

                PalmSocial
            </div>
        </div>

        <div id="nav-bar-right">

            <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="nav-bar-items">
                Login
            </div>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items">
                Hello, {{userDocument.name}}
            </div>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items">
                Logout
            </div>

        </div>

    </div>
</div>
<router-outlet></router-outlet>