<body>
<div id="top-el" (click)="goToSettingsPage()">
  <div id="back-arrow">
    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.667 35L11.3134 34.6464L10.9599 35L11.3134 35.3536L11.667 35ZM55.417 35.5C55.6931 35.5 55.917 35.2761 55.917 35C55.917 34.7239 55.6931 34.5 55.417 34.5V35.5ZM28.8134 17.1464L11.3134 34.6464L12.0205 35.3536L29.5205 17.8536L28.8134 17.1464ZM11.3134 35.3536L28.8134 52.8536L29.5205 52.1464L12.0205 34.6464L11.3134 35.3536ZM11.667 35.5H55.417V34.5H11.667V35.5Z"
        fill="white" />
    </svg>
  </div>

  <div id="world-el">
    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="21.9997" cy="22.0002" r="14.6667" stroke="white" stroke-width="1.5"/>
      <ellipse cx="22" cy="22.0002" rx="5.5" ry="14.6667" stroke="white" stroke-width="1.5"/>
      <path d="M7.33301 22H36.6663" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </div>
  <label for="world-el">Language</label>
  <hr>
</div>

<main>
  <div class="column">
    <button type="button" class="button-language"> English</button>
    <button type="button" class="button-language"> Spanish</button>
    <button type="button" class="button-language"> Polish</button>
    <button type="button" class="button-language"> German</button>
  </div>
</main>
</body>
